<div class="container">
  <h1>CryptoTracker Dashboard</h1>

  <app-datatable 
    [data]="coins()" 
    [columns]="tableColumns"
    (rowClicked)="handleRowClick($event)">

    <ng-template appTableCellTemplate="name" let-coin>
      <div class="coin-cell">
        <img [src]="coin.image" alt="{{ coin.name }}" class="coin-image" />
        <span>{{ coin.name }} ({{ coin.symbol | uppercase }})</span>
      </div>
    </ng-template>

    <ng-template appTableCellTemplate="current_price" let-coin>
      {{ coin.current_price | currency:'USD' }}
    </ng-template>

    <ng-template appTableCellTemplate="price_change_percentage_24h" let-coin>
      <span
        [class.positive]="coin.price_change_percentage_24h > 0"
        [class.negative]="coin.price_change_percentage_24h < 0">
        {{ coin.price_change_percentage_24h / 100 | percent:'1.2-2' }}
      </span>
    </ng-template>

    <ng-template appTableCellTemplate="total_volume" let-coin>
      {{ coin.total_volume | currency:'USD':'symbol':'1.0-0' }}
    </ng-template>

  </app-datatable>
</div>
