@use 'variables' as v;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.coin-cell {
  display: flex;
  align-items: center;
}

.coin-image {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.5rem;
}

.positive {
  color: v.$positive-color;
}

.negative {
  color: v.$negative-color;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 1rem;
}
