<div class="container">
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>

    @for (column of columns(); track column.def) {
      <ng-container [matColumnDef]="column.def">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
        <td mat-cell *matCellDef="let row">
          <ng-container 
            [ngTemplateOutlet]="templateMap[column.def].template" 
            [ngTemplateOutletContext]="{ $implicit: row }">
          </ng-container>
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns;" class="clickable-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Seleccionar página"></mat-paginator>
</div>
